{% extends 'base.html.twig' %}

{% block title %}Consigne index{% endblock %}

{% block body %}
    <h1>Consigne index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Bookingdate</th>
                <th>Duedate</th>
                <th>Rendu</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for consigne in consignes %}
            <tr>
                <td>{{ consigne.id }}</td>
                <td>{{ consigne.name }}</td>
                <td>{{ consigne.bookingdate ? consigne.bookingdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ consigne.duedate ? consigne.duedate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ consigne.rendu ? 'Yes' : 'No' }}</td>
                <td>{{ consigne.email }}</td>
                <td>
                    <a href="{{ path('app_consigne_show', {'id': consigne.id}) }}">show</a>
                    <a href="{{ path('app_consigne_edit', {'id': consigne.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_consigne_new') }}">Create new</a>
{% endblock %}
