{% extends 'base.html.twig' %}

{% block title %}Consigne index{% endblock %}

{% block body %}
    <h1>Consigne index</h1>

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Nom</th>
                <th>Date de prêt</th>
                <th>Date du rendu</th>
                <th>Email</th>
                <th>Rendu</th>
                {# <th>actions</th> #}
            </tr>
        </thead>
        <tbody>
        {% for consigne in consignes %}
            <tr>
                {# <td>{{ consigne.id }}</td> #}
                <td>{{ consigne.name }}</td>
                <td>{{ consigne.bookingdate ? consigne.bookingdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ consigne.duedate ? consigne.duedate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ consigne.email }}</td>
                <td>{{ consigne.rendu ? 'Oui' : 'Non' }}</td>
                <td>
                    {# <a href="{{ path('app_consigne_show', {'id': consigne.id}) }}">show</a> #}
                    <a href="{{ path('app_consigne_edit', {'id': consigne.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_consigne_new') }}">Créer une nouvelle Réservation</a>
{% endblock %}
