{% extends 'base.html.twig' %}

{% block title %}Consigne{% endblock %}

{% block body %}
    <h1>Consigne</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ consigne.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ consigne.name }}</td>
            </tr>
            <tr>
                <th>Bookingdate</th>
                <td>{{ consigne.bookingdate ? consigne.bookingdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Duedate</th>
                <td>{{ consigne.duedate ? consigne.duedate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Rendu</th>
                <td>{{ consigne.rendu ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ consigne.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_consigne_index') }}">back to list</a>

    <a href="{{ path('app_consigne_edit', {'id': consigne.id}) }}">edit</a>

    {{ include('consigne/_delete_form.html.twig') }}
{% endblock %}
