{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h1>Produit index</h1>

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Produit</th>
                <th>Stock</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                {# <td>{{ produit.id }}</td> #}
                <td>{{ produit.name }}</td>
                <td>{{ produit.stock }}</td>
                <td>
                    {# <a href="{{ path('app_produit_show', {'id': produit.id}) }}">show</a> #}
                    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_produit_new') }}">Ajouter un nouveau produit</a>
{% endblock %}
